{{!-- <div>
    <header>Hello World</header>
    <main class="Blog Post">
        <section class="Post Here">
            
        </section>
    </main>
</div> --}}
<h1>Recent Blog Post</h1>
<!-- Loop over each object in the projects array -->
{{#each post as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/models/post.js">{{post.title}}</a>
    </h2>
    <p>
    "Helloworld"
    </p>
    <p>Written by {{post.user_id}} on {{format_date post.description}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
</div>
{{/each}}